
/*========== Small (sm) ==========*/
@media (min-width: 576px) {

}

/*========== Medium (md) ==========*/
@media (min-width: 768px) {

}

/*========== Large (lg) ==========*/
@media (min-width: 992px) {

    .col-lg-4{
        grid-template-columns: repeat(3, 1fr);
    }

}


/*========== Extra large (xl) ==========*/
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }

    .nav{
        max-width: 1140px;
    }
}

/*========== Extra extra large (xxl) ==========*/
@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }

    .nav{
        max-width: 1320px;
    }
}

