/*========== Header ==========*/

.header{
    display: flex;
    width: 100%;
    justify-content: center;
    height: var(--header-height);
    box-shadow: var(--background-show) 0px 0px 2px;
    padding: 0 1rem;
    position: fixed;
    background-color: var(--body-color);
    z-index: 1;
}


.nav{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;

}

.nav__logo{
    padding: 0.5rem;
    width: 160px;
}

.nav__menu{
    display: none;
    justify-content: top;
    align-items: center;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100%;
    top: var(--header-height);
    left: 0;
    background-color: var(--container-color);
    z-index: 2;

}

.nav__link{
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    font-size: var(--h3-font-size);
}

.nav__link:hover{
    border-radius: 5px;
    border: 2px solid var(--container-color);
    background-color: var(--container-color);
}

.nav__buttons{
    display: flex;
}

.nav input {
	display: none;
}

.close{
    display: none!important;
    transition: display 0.3s ease;
    -webkit-transition: display 0.3s ease;
}


@media (max-width: 992px) {
    /* ========== Mobile Menu ========== */
    .nav input:checked ~ .nav__menu {
        display: block;
    }

    .nav input:checked ~ label .close {
        display: inline-flex!important;
    }

    .nav input:checked ~ label .open {
        display: none!important;
    }


    .nav input:checked ~ .nav__menu li,
    .nav input:checked ~ .nav__menu ul,
    .nav input:checked ~ .nav__menu a {
        text-align: center;
        font-size: var(--h2-font-size);
        position: static;
        display: block;
        width: 100%;
    }

    .nav__buttons{
        width: calc(100% - 160px);
        justify-content: end;
    }


}