.d-flex{
    display: flex;
}

.d-grid{
    display: grid;
}

.gap-1{
    gap: 0.5rem;
}

.text-align-center{
    text-align: center;
}

.order-1{
    order: 1;
}

.mt-1{
    margin-top: 0.5rem;
}


.mx-1{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.my-1{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.me-1{
    margin-right: 0.5rem;
}

.container{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-right: auto;
    margin-left: auto;
}

.main{
    padding-top: var(--header-height);
}


.mat-fab{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    padding: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    background: none;
}

.align-items-center{
    align-items: center;
}